.container-fluid {
    padding: 2%;
}

#headerContent {
    height: 20%;
    padding: 1%; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: row; 
}
